# Dependencies and SetUp

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

# Load csv exported from WeatherPy to a DataFrame

In [2]:
csv_file = 'output_data/cities.csv'
cities_df = pd.read_csv(csv_file)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kayerkan,69.3497,87.7602,35.13,97,100,12.46,RU,1632081430
1,Mataura,-46.1927,168.8643,39.47,96,32,3.87,NZ,1632081431
2,Koungou,-12.7336,45.2042,76.71,78,90,14.97,YT,1632081431
3,Severo-Kuril'sk,50.6789,156.1250,50.45,97,100,12.35,RU,1632081158
4,Nyurba,63.2842,118.3319,23.85,91,10,2.26,RU,1632081432

# Humidity Heatmap

* use Lat and Lng as locations and Humidity as weight
* Add Heatmap Layer to Map

In [3]:
locations = cities_df[['Lat','Lng']]
weight = cities_df['Humidity']
max_intensity = weight.max()

# Plot Heatmap
fig = gmaps.figure(center=(46.0,-5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights= weight, dissipating=False, max_intensity=max_intensity, point_radius=1)

# Add Layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

#  Create new DataFrame fitting weather criteria

* Narrow down the DataFrame to find your ideal weather condition
* Drop any rows that don't contain all three conditions.

In [10]:
# Filter the data to fit the ideal weather condition
ideal_weather = cities_df.loc[(cities_df['Max Temp'] >= 75) & (cities_df['Max Temp'] < 85) & \
                              (cities_df['Wind Speed'] < 10) & (cities_df['Cloudiness'] < 10) & \
                              (cities_df['Humidity'] < 60) & (cities_df['Humidity'] >= 40)].dropna()

In [11]:
# Print new total count of cities
city_number = ideal_weather['City'].count()
city_number_ori = cities_df['City'].count()

print(f'After cleaning the data, there are a new total of {city_number} out of {city_number_ori} cities that fit within the ideal weather')

After cleaning the data, there are a new total of 8 out of 585 cities that fit within the ideal weather

# Hotel Map
* Store into variable named hotel_df.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# Create hotel_df
hotel_df = ideal_weather.loc[:,["City",'Country','Lat','Lng']]

# Add a new column Hotel Name
hotel_df['Hotel Name'] = ""

# Display hotel_df
hotel_df.head()

          City Country      Lat      Lng Hotel Name
12      Albany      US  42.6001 -73.9662
22   Jamestown      US  42.0970 -79.2353
67    Goderich      CA  43.7501 -81.7165
132      Baena      ES  37.6167  -4.3225
359   Freeport      US  40.6576 -73.5832

In [13]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {'type':'hotel',
         'keyword':'hotel',
         'radius': 5000,
         'key': gkey}

In [14]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, replace with NaN
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan
        
    print("------------")

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 12: Albany.
Missing field/result... skipping.
------------
Retrieving Results for Index 22: Jamestown.
Closest hotel in Jamestown is La Quinta Inn & Suites by Wyndham Jamestown.
------------
Retrieving Results for Index 67: Goderich.
Closest hotel in Goderich is Comfort Inn & Suites.
------------
Retrieving Results for Index 132: Baena.
Closest hotel in Baena is La Casa Grande.
------------
Retrieving Results for Index 359: Freeport.
Closest hotel in Freeport is Ramada by Wyndham Rockville Centre.
------------
Retrieving Results for Index 372: Loralai.
Closest hotel in Loralai is Pakiza Hotel.
------------
Retrieving Results for Index 448: Ypsilanti.
Missing field/result... skipping.
------------
Retrieving Results for Index 496: Tūkrah.
Closest hotel in Tūkrah is مصيف مرحبا للعائلات.
------------
-------End of Search-------

In [15]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
12,Albany,US,42.6001,-73.9662,NaN
22,Jamestown,US,42.0970,-79.2353,La Quinta Inn & Suites by Wyndham Jamestown
67,Goderich,CA,43.7501,-81.7165,Comfort Inn & Suites
132,Baena,ES,37.6167,-4.3225,La Casa Grande
359,Freeport,US,40.6576,-73.5832,Ramada by Wyndham Rockville Centre
372,Loralai,PK,30.3705,68.5980,Pakiza Hotel
448,Ypsilanti,US,42.2412,-83.6130,NaN
496,Tūkrah,LY,32.5341,20.5791,مصيف مرحبا للعائلات

In [16]:
# Reset index of hotel_df and drop rows with NaN values
hotel_df = hotel_df.reset_index(drop=True)
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'],axis=0)
clean_hotel_df

,City,Country,Lat,Lng,Hotel Name
1,Jamestown,US,42.0970,-79.2353,La Quinta Inn & Suites by Wyndham Jamestown
2,Goderich,CA,43.7501,-81.7165,Comfort Inn & Suites
3,Baena,ES,37.6167,-4.3225,La Casa Grande
4,Freeport,US,40.6576,-73.5832,Ramada by Wyndham Rockville Centre
5,Loralai,PK,30.3705,68.5980,Pakiza Hotel
7,Tūkrah,LY,32.5341,20.5791,مصيف مرحبا للعائلات

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))